<div id="main">
  @{
    var props = new
    {
      entries = new[] {
        new {Text = "Make to do list", CreatedAt = DateTime.Now - TimeSpan.FromDays(35) },
        new {Text = "Check off first thing on to do list  ", CreatedAt = DateTime.Now - TimeSpan.FromDays(13) },
        new {Text = "Realize you've already accomplished 2 things", CreatedAt = DateTime.Now - TimeSpan.FromDays(5) }
      }
    };
  }
  @Html.React("Todo", props)
</div>
